html {
  font-size: 14px;
}

.jumbotron {
  justify-content: center;
  text-align: center;
  margin: auto;
  background-image: url("../images/nomnom background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 4rem;
  height: 40rem;
  padding-top: 15rem;
}

.jumbotron h1 {
  font-family: "Monoton";
  font-size: 6rem;
  font-weight: normal;
}

@media only screen and (max-width: 767px) {
  .jumbotron h1 {
    font-size: 5.7rem;
  }
}

@media only screen and (max-width: 425px) {
  .jumbotron h1 {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 320px) {
  .jumbotron h1 {
    font-size: 2rem;
  }


}

.content {
  text-align: center;
}

.mobile-content {
  display: none;

}

.content p {
  font-size: 1.2rem;
}

.content .desc {
  padding-top: 10rem;
  margin-bottom: 4rem
}
.image-container img {
  max-width: 100%;
  max-height: auto;
}

.appreciation {
  text-align: center;
  margin: auto;
  padding: 3rem;
}
