html {
  font-size: 14px;
}

.jumbotron {
  justify-content: center;
  text-align: center;
  margin: auto;
  background-repeat: no-repeat;
  background-color: white;
  transition: all 1s ease-in-out;
  margin-top: 10rem;
  height: 40rem;
  padding-top: 15rem;
}

.jumbotron-1 {
  background-image: url("../images/MH-3.png");
}

.jumbotron-2 {
  background-image: url("../images/MH-2.png");
}

.jumbotron-3 {
  background-image: url("../images/MH-1.png");
}
.relative-wrapper h1 {
  font-family: "Monoton";
  font-size: 6rem;
  font-weight: normal;
}

.relative-wrapper {
  position: relative;
  top: -20rem;
  margin: 0 auto;
  max-width: 50%;
  text-align: center;
}

@media only screen and (max-width: 767px) {
  .relative-wrapper h1 {
    font-size: 5.7rem;
  }

  .jumbotron {
    background-size: cover;
    background-position: left;
  }

  .desc {
    display: hidden;
  }
}

@media only screen and (max-width: 425px) {
  .relative-wrapper h1 {
    font-size: 3rem;
  }

  .jumbotron {
    background-size: cover;
    background-position: left;
  }

  .desc h1{
    display: hidden;
  }
}

@media only screen and (max-width: 320px) {
  .relative-wrapper h1 {
    font-size: 2rem;
  }

  .jumbotron {
    background-size: cover;
    background-position: left;
  }


}

.content {
  text-align: center;
  margin-top: 0px;
}

.mobile-content {
  display: none;

}

.content p {
  font-size: 1.2rem;
}

.content .desc {
  padding-top: 10rem;
  margin-bottom: 4rem
}
.image-container img {
  max-width: 100%;
  max-height: auto;
}

.row {
}

.appreciation {
  text-align: center;
  margin: auto;
  padding: 3rem;
}

.navigation {
  margin-top: 15rem;
}
